

body {
    background-color: white;
    
}

.text {
    font-family: "Arial";
    font-size: medium;
    font-weight: 300;
    color:black;
    z-index: 1;
}
.cog{
    display: flex;
    justify-content: flex-end;   
    
    height: auto;
}
img {
    height: 18px;
    width: 18px;
    margin-right: 10px;
    text-align: center;
    /*transform: none;*/
    cursor: pointer;
    transform: none;
}
/*
.cog img {
    transition: all 2s;
}
img:hover {
    height: 40px;
    width: 40px;
    
}
*/
.settings {
    display: none;
    position: absolute;
    top: 3.5%;
    margin-right: 10px;
    border: 1px solid black;
    background-color: rgba(66, 138, 106, 0.9);
    width: auto;
    height: auto;
    z-index: 2;
}
.advancesl {
    display: inline-block;
    
}
.arrow {
    cursor: pointer;
    
}
#arrow1 {
   transform: rotate(40deg);

}

#submitbtn {
    border: 2px solid black;
    background-color: whitesmoke;
    width: 45px;
    margin-left: 40px;
    cursor: pointer;
}